<div class="jumbotron">
 	<h2>
	 	As aulas de Let's Boxe acontecem periodicamente nos seguintes locais:<br><br>

		<a href="http://www.raceracademia.com.br/?toDO=modalidades&idunidadeComercial=74" target="_blank">Academia Racer Trindade</a>:<br>
		Terças e Quintas, das 18:30h às 19:30h<br>
		Rua Lauro Linhares, 1374 - Fone: (48) 3233-2946<br><br>

		<a href="http://www.raceracademia.com.br/?toDO=modalidades&idunidadeComercial=75" target="_blank">Academia Racer Centro</a>:<br>
		Segundas e Quartas, das 19:45h às 20:45h<br>	
		Rua Esteves Júnior, 567 - Fone: (48) 3222-9940<br><br>

		Agende uma aula experimental!<br><br>
	</h2>
</div>

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 feature-text">
      <h3>E como posso fazer aula de Boxe (tradicional)?</h3>
	      <img src="images/luisao_small.jpg" class="logo"></img>
	      
	      <p>O Prof. Luis Carlos Alvares ("Luisão") também dá aulas de <b>Boxe (tradicional)</b> na <a href="http://www.raceracademia.com.br/?toDO=modalidades&idunidadeComercial=74" target="_blank">Academia Racer Trindade</a>, <b>Terças e Quintas</b>, das <b>12:15h às 13:15h</b> e das <b>20:00h às 21:00h</b>; e também atua como <b>professor particular</b> - agendamentos pelo telefone <b>(48) 9976-7908</b>.</p>
    </div> <!-- /.feature-text -->
  </div> <!-- /.row -->

</div> <!-- /.container -->