<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="marketing">
          <a href="http://www.fecaboxe.com.br/inscricoes-abertas-para-o-1-curso-de-boxe-fitness-da-fecaboxe/" target="_blank">
            <img src="images/curso.jpg" class="feature-photo">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modelo de botão para abrir o modal -->
<!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-show="true" data-target="#myModal">Launch demo modal</button> -->

<div class="jumbotron">
  <!-- <div class="container"> -->
    <h2>"O Let’s Boxe é o boxe social, que qualquer pessoa pode fazer sem o objetivo de aplicar a luta, mas como forma de condicionamento. É uma aula de grande desgaste energético!"</h2>
  <!-- </div>  --><!-- /.container -->
</div> <!-- /.jumbotron -->

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <!-- <div class="col-md-4 col-sm-6 feature-text"> -->
    <div class="col-md-12 col-sm-12 feature-text">
      <h3>Qual a dinâmica da aula?</h3>
      <p>Quem procura um modo diferente de se exercitar com prazer e queimar muitas calorias precisa conhecer o Let’s Boxe. Criada há mais de 10 anos pelo professor Luis Carlos Alvares, gaúcho de Porto Alegre, a modalidade ensina boxe na sala de ginástica. Juntando os movimentos do boxe à música consegue-se relaxar e, através das repetições, o movimento é automatizado. É uma forma dinâmica e divertida de aprender a arte de boxear sem contato.</p>
      <p>As técnicas são treinadas primeiro em frente ao espelho ("sombra") e depois aplicadas em duplas e no saco de pancadas. Os sacos são implementos básicos para a aula, onde se descarrega a agressividade combatendo o stress. A atividade tonifica a musculatura das pernas, tronco e braços, aumenta o poder de concentração, o ganho de resistência muscular localizada e também ajuda na postura. O melhor é que elimina entre 700 e 900 calorias.</p>
    </div> <!-- /.feature-text -->
  </div> <!-- /.row -->

  <div class="spacer"></div>

  <div class="row">
    <div class="col-md-4 col-sm-4">
      <!-- <img src="images/stock2.jpg" class="feature-photo"> -->
      <iframe width="304" height="185" src="//www.youtube.com/embed/RyfBtDamRLQ" frameborder="0" allowfullscreen></iframe>
      <div class="spacer"></div>
      <div class="feature-text">
        <h3>Entrevista</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
      </div> <!-- /.feature-text -->
    </div>
    <div class="col-md-4 col-sm-4">
      <!-- <img src="images/stock3.jpg" class="feature-photo"> -->
     <iframe width="304" height="185" src="//www.youtube.com/embed/IpO8tcQrigo" frameborder="0" allowfullscreen></iframe>
     <div class="spacer"></div>
     <div class="feature-text">
        <h3>No RBS Esporte</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
      </div> <!-- /.feature-text -->
    </div>
    <div class="col-md-4 col-sm-4">
      <!-- <img src="images/stock4.jpg" class="feature-photo"> -->
      <iframe width="304" height="185" src="//www.youtube.com/embed/W6iGdxTX51M" frameborder="0" allowfullscreen></iframe>
      <div class="spacer"></div>
      <div class="feature-text">
        <h3>No cruzeiro</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
      </div> <!-- /.feature-text -->
    </div>
  </div> <!-- /.row -->

</div> <!-- /.container -->